<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Company Product Name
            <h5 class="hint">Use your Company ID to sign in or create one now</h5>
        </label>
        <div class="login-group">
            <div class="auth-source select">
            </div>
            <input class="username" type="text" [(ngModel)]="username" name="username" placeholder="Username">
            <input class="password" type="password" [(ngModel)]="password" name="password" placeholder="Password">
            <button type="submit" class="btn btn-primary" (click)="Login()">Login</button>
            <a href="javascript://" class="signup">Sign up for a Company ID</a>
        </div>
    </form>
</div>