<h3>รายงานข้อมูล ณ. วันที่ {{ date | date }} </h3>
<h4> ผู้มารับบริการงานผู้ป่วยในแยกตาม DCT รายเดือน ปีงบประมาณ 2560</h4>
<table class="table">
    <thead>
        <tr>
            <th>ลำดับ</th>
            <th>dct</th>
            <th>name</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>jun</th>
            <th>jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>ครั้ง</th>
            <th>ราย</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of iptnum">
            <td>{{i.Num}}</td>
            <td>{{i.dct}}</td>
            <td>{{i.name}}</td>
            <td>{{i.Oct}}</td>
            <td>{{i.Nov}}</td>
            <td>{{i.Dec}}</td>
            <td>{{i.Jan}}</td>
            <td>{{i.Feb}}</td>
            <td>{{i.Mar}}</td>
            <td>{{i.Apr}}</td>
            <td>{{i.May}}</td>
            <td>{{i.jun}}</td>
            <td>{{i.jul}}</td>
            <td>{{i.Aug}}</td>
            <td>{{i.Sep}}</td>
            <td>{{i.Sum}}</td>
            <td>{{i.hn}}</td>
        </tr>
    </tbody>
</table>
<h4> รายงานจำนวนผู้ป่วยมารับบริการตึกตึกผู้ป่วยนอก 5 ปีย้อนหลัง</h4>
<table class="table">
    <thead>
        <tr>
            <th>ปีงบประมาณ</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>jun</th>
            <th>jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>ครั้ง</th>
            <th>ราย</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vi of overvisit">
            <td>{{vi.yearbudget}}</td>
            <td>{{vi.Oct}}</td>
            <td>{{vi.Nov}}</td>
            <td>{{vi.Dec}}</td>
            <td>{{vi.Jan}}</td>
            <td>{{vi.Feb}}</td>
            <td>{{vi.Mar}}</td>
            <td>{{vi.Apr}}</td>
            <td>{{vi.May}}</td>
            <td>{{vi.jun}}</td>
            <td>{{vi.jul}}</td>
            <td>{{vi.Aug}}</td>
            <td>{{vi.Sep}}</td>
            <td>{{vi.total}}</td>
            <td>{{vi.hn}}</td>
        </tr>
    </tbody>
</table>
<h4> รายงานจำนวนผู้ป่วยมารับบริการตึกผู้ป่วยใน 5 ปีย้อนหลัง</h4>
<table class="table">
    <thead>
        <tr>
            <th>ปีงบประมาณ</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>jun</th>
            <th>jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>ครั้ง</th>
            <th>ราย</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ad of overadmin">
            <td>{{ad.yearbudget}}</td>
            <td>{{ad.Oct}}</td>
            <td>{{ad.Nov}}</td>
            <td>{{ad.Dec}}</td>
            <td>{{ad.Jan}}</td>
            <td>{{ad.Feb}}</td>
            <td>{{ad.Mar}}</td>
            <td>{{ad.Apr}}</td>
            <td>{{ad.May}}</td>
            <td>{{ad.jun}}</td>
            <td>{{ad.jul}}</td>
            <td>{{ad.Aug}}</td>
            <td>{{ad.Sep}}</td>
            <td>{{ad.total}}</td>
            <td>{{ad.hn}}</td>
        </tr>
    </tbody>
</table>